*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ...................
    Big Screen layout
...................... */

html{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ffffff;
}
body{
    position: relative;
    background-image: url("img/9d359a1983d55a33bd9d1ef454ff22f9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body .overlay{
    position: fixed;
    background-color: #2e189388;
    z-index: -1;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
i{
    fill: #fff;
    font-size: 2.5rem;
}
#box{
    max-width: 1072px;
    margin: auto;
    padding: .5em 1em 6em;
    display: flex;
    flex-direction: column;
}
#nav{
    width: 100%;
    height: 40px;
    margin-top: 3.2em;
    /* background-color: darkgoldenrod; */
}
#nav #menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2em;
}
#nav #menu a{
height: 100%;
display: flex;
align-items: center;
}
#nav #logo{
    font-size: 1rem;
    font-weight: 600;
    margin-right: auto;
}
#sidebar-active, #open-sidebar-button, #close-sidebar-button{
    display: none;
}
#open-sidebar-button{
    text-align: right;
}
#middle-fill{
    font-size: 1rem;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 10em; 
    background-color: #fff;
    color: #482be7;
}
main{
    width: 58.4%;
    margin-top: 5em;
}
main #test{
    width: 100%;
}
#test h1{
    font-size: 4rem;
    width: 100%;
}
#test h5{
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    margin-top: 1.6em;
    padding-right: 1em;
}
main #cto{
    width: 100%;
    margin-top: 2em;
    min-width: 360px;
}
#cto a{
    text-decoration: none;
}
#cto #big-fill{
    font-size: 1rem;
    padding: 0.9em 1.7em;
    background: #ffffff;
    border-radius: 5.6em;
    border: none;
    color: #482BE7;
}
#cto #big-white-outline{
    font-size: 1rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 5.5em;
    border: 0.1em solid rgba(255, 255, 255, 1);
    padding: 0.9em 1.8em;
    margin-left: 1.2em;
}
#box a, button{
    cursor: pointer;
}

/* ......................
    Mobile Screen layout
......................... */

@media (max-width:775px){
    #nav #menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;


        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 75%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.98);
    }
    /* #close-sidebar-button, #middle-fill-button #middle-fill{
        align-self: center;
    } */
    #nav #menu a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    #open-sidebar-button, #close-sidebar-button{
        display: block;
        padding: 5px 50px;
    }
    #sidebar-active:checked ~ #menu{
        display: flex;
    }
}