:root{
    --ff-sans: "DM Sans", serif;
    --fs-12: 0.75rem;
    --fs-14: 0.87rem;
    --fs-base: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;
    --fs-54: 3.38rem;
    --fs-72: 4.5rem;

    --clr-base: #FFFFFF;
    --clr-base-30: rgba(255, 255, 255, .3);
    --clr-action: #482BE7;
    --clr-action-80: rgba(71, 43, 231, 0.8);
    --clr-bckg: rgba(46, 24, 147, 0.5);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--clr-base);
    font-family: var(--ff-sans);
}

body{
    background-image: url(/img/9d359a1983d55a33bd9d1ef454ff22f9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    max-width: 67rem;
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
nav{
    display: flex;
    justify-content: flex-end;
    height: 2.5rem;
}
.logo{
    margin-right: auto;
    font-size: var(--fs-24);
    letter-spacing: -0.018rem;
}
/* nav label i{
    width: 10rem;
    height: 10rem;
} */
#sidebar-active, .sidebar-btn{
    display: none;
}
.links-container{
    font-size: var(--clr-base);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.links-container a{
    padding-inline: 1.25rem;
}
.links-container button{
    font-size: var(--clr-action);
    color: var(--clr-action);
    padding-inline: 1.125rem;
    padding-block: 0.44rem;
    border-radius: 6.25rem;
    background-color: var(--clr-base);

}
main{
    max-width: 37.1rem;
    height: auto;
    margin-top: 6rem;
}
main h1{
    font-size: var(--fs-72);
    letter-spacing: -0.0625rem;
    line-height: 5.37rem;
    margin-bottom: 2rem;
}
main p{
    font-size: var(--fs-22);
    line-height: 2rem;
}
.cto-buttons{
    display: flex;
    justify-content: flex-start;
    column-gap: 1.25rem;
    margin-top: 2.2rem;
}
.cto-buttons button{
    padding: 1.0625rem 1.875rem;
    border-radius: 6.25rem;
    font-size: var(--fs-20);
}
.cto-buttons .filled{
    border-style: none;
    color: var(--clr-action);
}
.cto-buttons .transparent{
    border: 0.125rem solid var(--clr-base);
    background-color: var(--clr-base-30);
}
.overlay{
    background-color: var(--clr-bckg);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width:1140px) {
    .wrapper{
        width: 90vw;
    }
}
@media (max-width:840px) {
    .links-container{
        width: 100vw;
        height: 100vh;
        padding-block: 3rem;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--clr-action-80);
        position: fixed;
        top: 0;
        right: -6.25rem;
        z-index: 5;
        display: none;
        transition: 0.25s ease-in-out;
    }
    .links-container a{
        box-sizing: border-box;
        padding-block: 1.25rem;
        padding-left: 3rem;
        width: 100%;
        justify-content: flex-start;
    }
    .links-container a:hover{
        background-color: rgba(0, 0, 0, 0.842);
    }
    .links-container button, i{
        margin-left: 3rem;
    }
    .sidebar-btn{
        display: block;
        width: 6rem;
    }
    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }
}
@media (max-width:420px) {
    main h1{
        font-size: var(--fs-54);
        text-align: center;
        line-height: 2.68rem;
    }
    main p{
        /* font-size: var(--fs-14); */
        text-align: justify;
    }
    .cto-buttons{
        flex-direction: column;
        row-gap: 1.25rem;
        margin-top: 2.2rem;
    }
}
@media (max-width:398px) {
    main p{
        text-align: center;
    }
}